body{
  background-color: black;
}

.setup{
  position:absolute;
  z-index: 1;
}

/*ここから*/


html, body {
  vertical-align: baseline;
  margin: 0;
  outline: 0;
  border: 0;
  background: transparent;
  padding: 0;
 
}

html {
  position: relative;
  width: 100vw;
  height: -webkit-fill-available;
  overflow: hidden;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-feature-settings: 'palt';
  font-feature-settings: 'palt';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  background: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;


  line-height: 1.3;
  font-family: 'M PLUS Rounded 1c', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  letter-spacing: 0.85px;
  letter-spacing: .085rem;
}
  
  
  /*重要*/
  img {
    display: block;
    width: 100% !important;
    height: -webkit-fill-available !important;
  }

  video{
      display: block;
      width: 100% !important;
      height: -webkit-fill-available !important;   
  }
  
  /* ====================
  Layout
   ==================== */
   .l-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .l-wrap__container {
      display: block;
      position: relative;
      opacity: 0;
      width: 100vw;
      max-width: 177.891vh;
      height: 100vh;
      max-height: 56.214vw;
      overflow: hidden;
    }
    
  /*横画面処理*/
  
  .p-port__inner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(0.03deg);
    transform: translate(-50%, -50%) rotate(0.03deg);
    width: 80%;
  }
  
  .p-port__text {
      position: relative;
      margin: 0 auto;
      width: 100%;
      font-size: 13px;
      text-align: center;
    }
  
  .p-port__img {
    position: relative;
    margin: 20px auto 0;
    width: 30%;
    max-width: 160px;
    text-align: center;
  }
  
  .p-port__note {
    position: relative;
    margin: 26px auto 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    font-size: 11px;
    text-align: center;
  }
  
  
  
  /* ====================
  Project
   ==================== */
  .p-enter {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#101a22), to(#000));
    background: linear-gradient(to top, #101a22 0%, #000 100%);
    width: 100%;
    height: 100%;
  }
  
  /*横画面で楽しんで*/
  
  @media screen and (orientation: portrait){
      .is-land {
        display: none !important;
      }
      .is-port {
        display: block;
      }
      .l-wrap {
        opacity: 0 !important;
        pointer-events: none !important;
      }
      .p-port {
        opacity: 1;
      }
    }